{% extends  'base.html' %}


{% block content %}
<h1>Survey 2022!</h1>
{% for survey in object_list %}
<div class="row">
  <div class="survey-card col-md-4">
    <div class="content text-center">
      <a href="{{ survey.get_absolute_url }}">
        <h3>{{ survey.slug }}</h3>
        <p class="font-bold info">
          <i class="fa fa-bar-chart"></i>
          <span title="questions_count">
            Questions: {{survey.questions_count}}
          </span><br/>
          <span title="active_questions_count">
            <i class="fa fa-check-circle"></i>
            Active Questions: {{survey.active_questions_count}}
          </span><br/>
          <span title="answers">
            Answers: {{survey.user_choices_count}}
          </span>
        </p>
      </a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}